<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.user.first_name %> et merci de t'être inscrit en utilisant l'e-mail suivant : <%= @attendance.user.email %>. !</h1>
    <p> À très vite lors de l'event ! </p>
  </body>
</html>
