<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
        <h2>Tu es sur la page d'accueil</h2><br><br>
        <h3>Ci dessous la liste des events :</h3><br>

  <% @events.each do |event| %>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nom de l'event : <%= event.title %></h5>
      <p class="card-text">Lieu : <%= event.location %></p>
      <p class="card-text">Date de début : <%= event.start_date %></p>
      <div class="btn-btn-primary">
        <%=link_to "Lien vers l'event", event_path(event.id) %>
      </div>
    </div>
  </div>

  <% end %>
  </body>
</html>
